---
import { Image } from "astro:assets";
import PonenciaDos from "../../assets/Imagenes/ponencia11.webp";
import type { Speech } from "../../interfaces/speech";
import { Environment } from "../../environment/environment";

const response = await fetch(`${Environment.API_URL}/api/Ponencia/get_all`);
const data = await response.json();
const ponencias: Speech[] = data.ponencias;

// closestPonencia es la ponencia más cercana a la fecha actual (mucho spanglish)
const closestPonencia: Speech = ponencias.reduce((closest, ponencia) => {
  const ponenciaDate = new Date(ponencia.fecha);
  const currentDate = new Date();

  // Si no hay ponencia más cercana aún, o si la fecha de la ponencia actual es más cercana que la fecha de la ponencia más cercana
  if (!closest || (ponenciaDate > currentDate && ponenciaDate < new Date(closest.fecha))) {
    return ponencia;
  }

  return closest;
}, null);
---

<section class='w-full py-16 md:py-20'>
  <div class='section-container flex flex-col gap-8'>
    <h1
      class='font-semibold text-rojo text-3xl sm:text-4xl text-center tracking-wide
            uppercase text-pretty leading-snug'
    >
      Conoce nuestros próximos eventos
    </h1>
    {
      closestPonencia && 
      <div
      class='mt-4 md:mt-12 grid grid-rows-1 grid-cols-1 md:grid-cols-2 xl:grid-cols-[4fr,3fr] gap-5 md:gap-10'
    >
      <div
        class='flex flex-col gap-5 md:gap-6 bg-blanco py-5 pr-0 md:pr-8 md:py-10
                text-center sm:text-start'
      >
        <h2 class='uppercase font-semibold tracking-wide'>
          {closestPonencia.titulo}
        </h2>
        <p
          class='tracking-wide text-wrap text-normal md:text-lg line-clamp-5'
          style='line-height: 2'
        >
          {closestPonencia.descripcion}
        </p>
        <a
          href={closestPonencia.enlace}
          target='_blank'
          rel='noopener noreferrer'
          aria-label='Ir a la publicacion de Facebook de EMA'
          class='px-4 py-2 bg-red-700 text-white text-lg self-center sm:self-start mt-2
                hover:bg-red-800 transition-all duration-200 ease'
        >
          Mas información
        </a>
      </div>
      <div class='w-full h-full flex items-center'>
        <img
          src={`${Environment.API_URL}${closestPonencia.rutaImagen}`}
          alt={`${closestPonencia.titulo} image`}
          onerror="this.src='/aneimera-upc.jpg';"
          class='object-contain h-96 w-full'
        />
      </div>
    </div>
    <div
      class='grid grid-rows-1 grid-cols-1 md:grid-cols-2 xl:grid-cols-[3fr,4fr] gap-5 md:gap-10 mt-5'
    >
      <div class='order-2 md:order-1 w-full h-full flex items-center'>
        <Image
          src={PonenciaDos}
          alt={`${closestPonencia.titulo} image`}
          class='object-cover h-96'
        />
      </div>
      <div
        class='order-1 md:order-2 flex flex-col gap-6 md:gap-8 bg-blanco py-5 pl-0 md:pl-8 md:py-10
                    text-center sm:text-start'
      >
        <h2 class='uppercase font-semibold tracking-wide'>Misión y Objetivo</h2>
        <p
          class='tracking-wide text-pretty leading-[1.9] text-normal md:text-lg line-clamp-5'
          style='line-height: 2'
        >
          {closestPonencia.misionObjetivo}
        </p>
        <a
          href='https://www.facebook.com/profile.php?id=61556567363828'
          target='_blank'
          rel='noopener noreferrer'
          aria-label='Ir a la publicacion de Facebook de Aneimera UPC'
          class='px-4 py-2 bg-red-700 text-white text-lg mt-2 self-center sm:self-start
                hover:bg-red-800 transition-all duration-200 ease'
        >
          Mas información
        </a>
      </div>
    </div>
    }
  </div>
</section>
