---
import PastVisitCard from "../../components/PastVisitCard.astro";
import type { TechnicalVisit } from "../../interfaces/technicalVisit";

const { pastVisits } = Astro.props as { pastVisits: TechnicalVisit[] };
---

<section>
  <div class='section-container pb-16 md:pb-20'>
    <h2 class='font-semibold uppercase text-black text-center xs:text-left'>
      Visitas técnicas pasadas:
    </h2>
    {
      pastVisits.length > 0 ? (
        <div class='mt-10 grid grid-cols-1 md:grid-cols-2 grid-rows-auto gap-12'>
          {pastVisits.map((pastVisit: TechnicalVisit) => (
            <PastVisitCard
              key={pastVisit.visitaTecninaId}
              title={pastVisit.titulo}
              description={pastVisit.descripcion}
              visitDate={pastVisit.fecha}
              rutaImagen={pastVisit.rutaImagen}
            />
          ))}
        </div>
      ) : (
        <p class='text-center text-xl text-gray-500 py-20 md:py-16'>
          No hay visitas pasadas disponibles.
        </p>
      )
    }
  </div>
</section>
